@{
    ViewBag.Title = "监控详情";
}

@section scripts{
    <div class="container body-content">
        <!--操作栏-->
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">操作</h3>
            </div>
            <div class="panel-body" style="padding-bottom: 2px;">
                <form class="form-horizontal" role="form">
                    <div class="form-group form-group-lg has-success has-feedback">
                        <label class="col-sm-2 control-label" for="select_time">刷新频率：</label>
                        <div class="col-sm-4">
                            <select class="form-control" id="select_time">
                                <option value="2">2s</option>
                                <option value="5" selected>5s</option>
                                <option value="20">20s</option>
                                <option value="40">40s</option>
                                <option value="60">1分钟</option>
                                <option value="300">5分钟</option>
                                <option value="600">10分钟</option>
                                <option value="1800">30分钟</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!--服务器状态-->
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">服务器状态</h3>
            </div>
            <div class="panel-body" id="baseRedisStatus">
            </div>
        </div>

        <!--服务器详情-->
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">服务器详情</h3>
            </div>
            <div class="panel-body">

                <ul id="myTab" class="nav nav-tabs">
                    <li class="active">
                        <a href="#home" data-toggle="tab">简单监控</a>
                    </li>
                    <li>
                        <a href="#tab_richDetails" data-toggle="tab">详细监控</a>
                    </li>
                    <li>
                        <a href="#tab_clients" data-toggle="tab">客户端监控</a>
                    </li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade in active" id="home">
                        <br />
                        @Html.Action("SimpleDetails", "Home", new { serverId = Request["serverId"] })
                    </div>
                    <div class="tab-pane fade" id="tab_richDetails">
                        <br />
                        @Html.Action("RichDetails", "Home", new { serverId = Request["serverId"] })
                    </div>
                    <div class="tab-pane fade" id="tab_clients">
                        <br />
                        @Html.Action("Clients", "Home", new { serverId = Request["serverId"] })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function () {
            detailsView.loadRedisStatus();
        });
        var detailsView = {
            loadRedisStatus: function () {
                $.ajax({
                    type: "get",
                    url: "/Home/BaseRedisStatus",
                    dataType: "html",
                    data: {
                        serverId: serverId
                    },
                    success: function (data) {
                        $("#baseRedisStatus").html(data);
                    }
                });
                setTimeout(detailsView.loadRedisStatus, $("#select_time").val() * 1000);
            }
        };
    </script>
}